body{
    font-family: 'Courier New', Courier, monospace;
}

input{
    font-family: 'Courier New', Courier, monospace;
}

.grid-container{
    display: grid;
    grid-template-columns: 100px 200px;
    justify-content: center;
    align-content: flex-start;
    /* text-align: left; */
    height: 50vh;
    gap: 10px;
}

.grid-item-11{
    grid-column: span 2;
    text-align: center;
}


